h2 {
  font-family: 'Verdana', serif;
  text-decoration: bold;
  color: #FF0000
}

h3 {
  font-family: 'Verdana', serif;
  text-decoration: bold;
  color: #000000
}


body {background-color: #ffffff;}

.navbar {
    margin-bottom: 0;
    background:#FF0000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 3 !important;
    height: 40px;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Verdana', sans-serif;
    color: #fffffff;
}

/* Tab Panel */

.navbar-default .navbar-nav > li > a {
  font: 'Verdana', serif;
  text-decoration: bold;
	color: #ffffff;
}

.navbar-default .navbar-brand {
  font: 'Verdana', serif;
  text-decoration: bold;
	color: #ffffff;
}